config airplay2_lite 'main'
    option device_name 'OpenWRT AirPlay'
    option model_name 'OpenWRT'
    option device_id 'OpenWRT-AirPlay-001'
    option port '7000'
    option enable_multiroom '0'
    option multiroom_group 'default-group'
    option audio_device 'default'
    option sample_rate '44100'
    option channels '2'
    option bits_per_sample '16'
    option buffer_size '4096'
    option use_hw_volume '0'
